<!-- Cabecera -->

<header id="header">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid d-flex">
      <a class="navbar-brand" href="#">
        Concesionario
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-center me-auto ms-md-5" *ngIf="identity">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Crear auto</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>-->
        </ul>

        <ul class="nav navbar-nav text-center ms-auto" *ngIf="!identity">
          <li class="nav-item">
            <a [routerLink]="['login']" class="nav-link" aria-current="page" href="#">Ingresar</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['register']" class="nav-link" href="#">Registrarse</a>
          </li>
        </ul>

        <ul class="nav navbar-nav text-center" *ngIf="identity">
          <li class="nav-item">
            <a [routerLink]="['login']" class="nav-link" aria-current="page" href="#">{{identity.name + ' ' + identity.surname}}</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['logout', 1]" class="nav-link" href="#">
              <i class="fa fa-sign-out"></i>
              Salir</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
<!-- Fin cabecera -->

<!-- Contenido -->
<router-outlet></router-outlet>
<!-- Fin contenido -->